<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    
    
    
    
    
    
  </head>
  <body>
  
     <header class="page-header" role="banner">
   

      <img src="/ramganga/assets/logo/logo3.png" alt="alt-text-1"
	   height="200px" style="float:left" >
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
     
      
  {% for item in site.data.samplelist.docs %}
      <a class="btn" href="{{ item.url }}">{{ item.title }}</a>    {% endfor
      %}
    </header>



<main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
      
<img src="../assets/images/epsrc.png" alt="Epsrc" height="50px"> <img src="/ramganga/assets/images/uog.png" alt="alt-text-1" height="50px">  <img src="/ramganga/assets/images/uos.png" alt="alt-text-2" height="50px">  <img src="/ramganga/assets/images/ceh.png" alt="alt-text-2" height="36px"> <img src="/ramganga/assets/images/jhi.png" alt="alt-text-2" height="50px"> <img src="/ramganga/assets/images/iitk.png" alt="alt-text-2" height="50px">


      </footer>
    </main>
  </body>
</html>

